
section(class="featured")
  div(class="content-wrapper")
      hgroup(class="title")
          h1=title 
          h2 Try the Chat link in the upper right to see the real-time chat via socket.io
      p To learn more about node.js, visit <a href="http://nodejs.org" title="node.js Website">http://nodejs.org/</a>. The page features <span class="highlight">videos, tutorials, and samples</span> to help you get the most from node.js. If you have any questions about node.js, visit <a href="https://github.com/joyent/node" title="node.js github">github</a>.
      p Mark Davis built this example and published the code to <a href="https://github.com/nohorse/real-time-demo" title="repo">https://github.com/nohorse/real-time-demo</a> as a public repo. If you update the repo the site will get auto-updated via the magic that is continious integration.

section(class="main-content")
  h3 I suggest the following:
  ol(class="round")
      li(class="one")
          h5 Try this out on a mobile device
          p
           |This template supports various template options for viewing on mobile devices.
          p
          p
  section(class="features")
      section(class="feature")
          img(src="/images/aspNetHome.png", alt="")
          h3 Built it with express
          p 
            |Express is a Sinatra inspired web development framework for node.js -- insanely fast, flexible, and simple.  For more information, visit 
            a(href="http://expressjs.com/") expressjs.org
            |.
          
      section(class="feature")
          img(src="/images/npm.png", alt="")
          h3 NPM Gallery
          p 
            |NPM is an IDE extension or command line tool that makes it easy to install and update libraries. Visit
            a(href="http://npmjs.org") npmjs.org
            |for more information.

      