!!! 5
html
  head
    - if (typeof(title) == 'undefined')
        title Express Starter Template
    - else 
        title= title
    
    // include default stylesheets and any view stylesheets
    link(rel='stylesheet', href=base + '/stylesheets/style.css')
    
    // include default scripts and any view scripts
    script(src=base + '/javascripts/jquery-1.7.min.js')
    
  body   
    header
      div(class='content-wrapper')
        div(class="float-left")
          p(class="site-title")
            a(href="/") mindbox real-time-demo app
        div(class="float-right")
          section#login
            ul
            -if(!everyauth.loggedIn)
                li
                    a(href="/login") Log in
                li
                    a(href="/register") Register
            -else
                -if(everyauth.facebook)
                    li Welcome !{everyauth.facebook.user.first_name} !{everyauth.facebook.user.last_name}!
                -else if(everyauth.twitter)
                    li Welcome !{everyauth.twitter.user.name}!
                -else if(everyauth.password)
                    li Welcome !{everyauth.user.email}!
                li 
                    a(href="/logout") Logout
          nav
            ul#menu
              li 
                a(href="/") Home
              li 
                a(href="/chat") Chat
              li
                a(href="/about") About
    #body!= body
      
    footer
      div(class="content-wrapper")
        div(class="float-left")
          p &copy; !{(new Date()).getFullYear()}
        div(class="float-right")
          ul#social
            li
              a(href="http://facebook.com", class="facebook") Facebook
              a(href="http://twitter.com", class="twitter") Twitter